*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: cursive !important;
}
header{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0px;
}
h1{
    border-style: solid;
    border-radius: 30px;
    color: white;
    display: inline-block;
    padding: 10px;
    /* border-width: 40px;
    border-color: black; */
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
    background-color: grey;
    display: flex;
    justify-content: space-around;
}
section a{
    padding: 10px;
    color: white;
    text-decoration: none;
    /* justify-content: space-between; */
}
span{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
    display: block;
    text-align: center;
}
img{
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: red;
    border-bottom-width: 10px;
}
footer{
    background-color: grey;
    padding: 3px;
}
footer p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}